body, html {
    /*height: 100%;*/
    min-height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none!important;
    color: #ffffff!important;
    text-align: center!important;
    font-size: 17px!important;
}
a:hover{
    color: #dddddd!important;
}
.primary-color{
    background-color: #131f2e;
}
.logo-image{
    width: 200px;
    height:auto;
}
.flex-container {
    display: flex;
}
.nav-list{
    margin-left: 53.5%;
    line-height: 50px;
}
.nav-item{
    padding: 0 25px 0 25px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 101.5%;
    z-index: 1;
    /*padding-top: 60px;*/

}

.sticky + .content {
    padding-top: 60px;
}

.pull-right{
    float: right!important;
}
.pull-left{
    float: left;
}
.imgdesc{
    height: 295px;
    width: 350px;
}
.parallax {
    /* The image used */
    background-image: url('../images/brushes.jpg');

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.content-row{
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20%);
}
section.content-row.in-view{
    opacity: 1;
    transform: translateY(0);
}

.back-image{
    background-image: url('../images/shape-doodles5.jpg');
    height: 100%;

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.3;*/
}
.back-image-pic{
    background-image: url('../images/abstract3.jpg');
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.3;*/
}
.font1{
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px!important;
    /*line-height: 20px!important;*/
    font-style: italic!important;
}
.font2{

    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px!important;

}
.gallery{
    margin: 25px 0 25px 30px;
    height: 300px!important;
    width: 300px!important;
    transition: 0.5s;
}
.gallery:hover{
    background-color: #ffffff;
    opacity: 0.4;
    transition: 0.5s;

}
.gallery-text{
    z-index: 0;
    padding: 46% 0 0 37%;
}
.gallery-text:hover{
    z-index: 1;
    /*text-align: center;*/
}
.gallery8{
    background-image: url('../images/gallery8.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    background-color: #131f2e;
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    height: 190px;
    width: 100%;
    overflow: hidden;
}
